<h2>Login</h2>

<%= form_for login_path,:url => login_create_path,:method => :post do %>
  <%= label :user, :username, 'User ID', :class => 'col-form-label' %>
  <%= text_field :user, 'username', :class => 'form-control', :id => 'loginUser' %>
  <%= label :user, :password, 'Password', :class => 'col-form-label' %>
  <%= password_field :user, 'password', :class=> 'form-control', :id => 'loginPassword' %>
  <br/>
  <%= submit_tag 'Sign up/Login', :class => 'btn btn-primary', :id => 'login_submit' %>
  <%= button_to'Sign-up for an account', new_user_path, method: :get, id: 'signup' %>
<% end %>
