<h2>Sign-up</h2>

<%= form_tag users_path, :class => 'form' do %>
  <%= label :user, :username, 'User ID', :class => 'col-form-label' %>
  <%= text_field :user, 'username', :class => 'form-control', :id =>'signupUser' %>
  <%= label :user, :password, 'Password', :class => 'col-form-label' %>
  <%= password_field :user, 'password', :class=> 'form-control', :id =>'signupEmail' %>
  <br/>
  <%= submit_tag 'Create my account', :class => 'btn btn-primary' , :id => 'signupCreate'%>
<% end %>
