<script type="text/javascript">

    function moveCard(destination, card){
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=moveCard&dest='+destination+'&card='+card,
            type: 'PUT',
            success: function() {
            },
            complete: function() {
                location.reload();
            }
        });
    }

    function moveCardDraw(destination,  source){
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=moveCardDraw&dest='+destination+'&source='+source,
            type: 'PUT',
            success: function() {
            },
            complete: function() {
                location.reload();
            }
        });
    }

    function moveCardTable(destination, card){
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=moveCardTable&dest='+destination+'&card='+card,
            type: 'PUT',
            success: function() {
            },
            complete: function() {
                location.reload();
            }
        });
    }

    function shuffle(deck) {
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=shuffle&deck='+deck,
            type: 'PUT',
            success: function() {
            },
            complete: function() {
                location.reload();
            }
        });
    }

    function leaveGame(){
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=leaveGame',
            type: 'PUT',
            complete: function() {}
        });
    }

    function resetGame(){
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=resetGame',
            type: 'PUT',
            complete: function() {}
        });
    }

    function flipCard(card,user) {
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=flipCard&id='+card+'&index='+user,
            type: 'PUT',
            complete: function() {
                location.reload();
            }
        });
    }

</script>


<div class="container">
  <h3 style="position: fixed; left: 5%; top: 30%; margin: 0 auto;"> Players </h3>
  <div style="position: fixed; left: 0%; top: 35%; margin: 0 auto;" , id="other_user_hands">
    <% @user_cards_hash.each do |key, value| %>
      <% if key != @current_user.select(:id).first.attributes.values[0] %>
        <ul class="cards">
          <li class="username"><%= value[:username] %></li>
          <% value[:cards].each do |card_id, unicode| %>
            <% if unicode[0] == "R" %>
              <li class="other_users_card_red"><%= raw(unicode.gsub("R", "")) %></li>
            <% elsif unicode[0] == "B" %>
              <li class="other_users_card_black"><%= raw(unicode.gsub("B", "")) %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <h3 style="position: fixed; right: 8%; top: 150px; transform: translate(-50%, -50%); margin: 0 auto; z-index: 1"> Draw Pile </h3>
  <div style="position: fixed; right: 10%; top: 200px; transform: translate(-50%, -50%); margin: 0 auto; z-index: 1" , id="decks">
    <ul class="cards">
      <% @deckHashes.each do |hash| %>
        <% if hash.size <= 0 %>
          <li class="empty_sink">&#127137</li>
        <% else %>
          <% if hash.values.last[0] == "R" %>
            <li onclick="toggleCardDropdown('draw_<%= hash[:id] %>')" class="user_card_red"><%= raw(hash.values.last.gsub("R", "")) %></li>
          <% elsif hash.values.last[0] == "B" %>
            <li onclick="toggleCardDropdown('draw_<%= hash[:id] %>')" class="user_card_black"><%= raw(hash.values.last.gsub("B", "")) %></li>
          <% end %>
          <ul style="bottom: 100%" id="dropdown_draw_<%= hash[:id] %>" class="dropdown-content">
            <li class="dropdown-submenu">
              <a class="test" tabindex="-1" href="">&#x21e6; Move card: <span class="caret"></span></a>
              <ul style="bottom: 10%; left: 100%" class="dropdown-content">
                <li onclick="moveCardDraw('<%= @current_user.pluck(:username)[0]%>', <%=hash[:id]%>)">
                  <%= raw(@current_user.pluck(:username)[0]) %>
                </li>
                <% @sinks.each do |sink|%>
                  <li onclick="moveCardDraw('<%= 'sink_' + raw(sink)%>', '<%=hash[:id]%>')"> <%= raw(sink) %></li>
                <% end %>
                <li onclick="moveCardDraw('table', '<%=hash[:id]%>')"> Place on table</li>
              </ul>
            </li>
            <li onclick="shuffle('<%= hash[:id] %>')">&#x21ba; Shuffle</li>
            <li onclick="flipCard('draw<%= hash[:id] %>',false)">Flip Top Card</li>
          </ul>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <h3 style="position: fixed; right: 7%; top: 375px; transform: translate(-50%, -50%); margin: 0 auto; z-index: 1"> Discard Pile </h3>
  <div style="position: fixed; right: 10%; top: 450px; transform: translate(-50%, -50%); margin: 0 auto; z-index: 1" , id="sinks">
    <ul class="cards">
      <% @sinkHashes.each do |hash| %>
        <% if hash.size <= 0 %>
          <li class="empty_sink">&#127137</li>
        <% else %>
          <% if hash.values.last[0] == "R" %>
            <li onclick="toggleCardDropdown('sink_<%= hash[:id] %>')" class="user_card_red"><%= raw(hash.values.last.gsub("R", "")) %></li>
          <% elsif hash.values.last[0] == "B" %>
            <li onclick="toggleCardDropdown('sink_<%= hash[:id] %>')" class="user_card_black"><%= raw(hash.values.last.gsub("B", "")) %></li>
          <% end %>
          <ul style="bottom: 100%" id="dropdown_sink_<%= hash[:id] %>" class="dropdown-content">
            <li class="dropdown-submenu">
              <a class="test" tabindex="-1" href="">&#x21e6; Move card: <span class="caret"></span></a>
              <ul style="bottom: 10%; left: 100%" class="dropdown-content">
                <li onclick="moveCardDraw('<%= @current_user.pluck(:username)[0]%>', '<%=hash[:id]%>')">
                  <%= raw(@current_user.pluck(:username)[0]) %>
                </li>
                <% @sinks.each do |sink|%>
                  <% if hash[:id] != sink %>
                    <li onclick="moveCardDraw('<%= 'sink_' + raw(sink)%>', '<%=hash[:id]%>')"> <%= sink %></li>
                  <% end %>
                <% end %>
                <li onclick="moveCardDraw('table', '<%=hash[:id]%>')"> Place on table </li>
              </ul>
            </li>
            <li onclick="flipCard('sink<%= hash[:id] %>', false)">Flip Top Card</li>
          </ul>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="oval" style="position: fixed; left: 50%; top: 45%; transform: translate(-50%, -50%); margin: 0 auto;">

</div>


<div class="container">
  <div style="position: fixed; left: 50%; top: 45%; transform: translate(-50%, -50%); margin: 0 auto;" , id="table">
    <ul style="margin: 50%;" class="cards">
      <% @table.each do |card_id, unicode|%>
        <% if unicode[0] == "R" %>
          <li onclick="toggleCardDropdown('table_<%= card_id %>')" class="user_card_red"><%= raw(unicode.gsub("R", "")) %></li>
        <% elsif unicode[0] == "B" %>
          <li onclick="toggleCardDropdown('table_<%= card_id %>')" class="user_card_black"><%= raw(unicode.gsub("B", "")) %></li>
        <% end %>
        <ul style="bottom: 100%" id="dropdown_table_<%= card_id %>" class="dropdown-content">
          <li class="dropdown-submenu">
            <a class="test" tabindex="-1" href="">&#x21e6; Move card: <span class="caret"></span></a>
            <ul style="bottom: 10%; left: 100%" class="dropdown-content">
              <li onclick="moveCardTable('<%= raw(@current_user.pluck(:username)[0]) %>','<%= card_id %>')"><%= raw(@current_user.pluck(:username)[0]) %></li>
              <% @sinks.each do |sink|%>
                <li onclick="moveCardTable('sink_<%= sink %>','<%= card_id %>')"> <%= sink %></li>
              <% end %>
              <li onclick=""> Place on table </li>
            </ul>
          </li>
          <li onclick="flipCard('table<%= card_id %>', false)">Flip Card</li>
        </ul>
      <% end %>
    </ul>
  </div>
</div>




<div style="position: fixed; left: 46%; bottom: 150px; transform: translate(-50%, -50%); margin: 0 auto;" , id="testing_div">
  <ul class="cards">
    <% count = 0 %>
    <% @user_hand_card_values.each do |card_id,unicode| %>
      <% if unicode[0] == "F" %>
        <% if unicode[1] == "R" %>
          <li onclick="toggleCardDropdown('<%=card_id%>')" class="user_card_red_shown" id = "user_<%=card_id%>"><%= raw(unicode.gsub("FR", "")) %></li>
        <% elsif unicode[1] == "B" %>
          <li onclick="toggleCardDropdown('<%=card_id%>')" class="user_card_black_shown" id = "user_<%=card_id%>"><%= raw(unicode.gsub("FB", "")) %></li>
        <% end %>
      <% else %>
        <% if unicode[0] == "R" %>
          <li onclick="toggleCardDropdown('<%=card_id%>')" class="user_card_red" id = "user_<%=card_id%>"><%= raw(unicode.gsub("R", "")) %></li>
        <% elsif unicode[0] == "B" %>
          <li onclick="toggleCardDropdown('<%=card_id%>')" class="user_card_black" id = "user_<%=card_id%>"><%= raw(unicode.gsub("B", "")) %></li>
        <% end %>
      <% end %>
      <ul style="bottom: 100%" id="dropdown_<%=card_id%>" class="dropdown-content">
        <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="">&#x21e6; Move card: <span class="caret"></span></a>
          <ul style="bottom: 10%; left: 100%" class="dropdown-content">
            <% @user_cards_hash.each do |id, nameHash| %>
              <li onclick="moveCard('<%=raw(nameHash[:username])%>', '<%=card_id%>')"> <%=nameHash[:username]%> </li>
            <% end %>
            <% @sinks.each do |sink|%>
              <li onclick="moveCard('<%= 'sink_' + raw(sink)%>', '<%=card_id%>')"> <%= raw(sink) %></li>
            <% end %>
            <% @decks.each do |deck| %>
              <li> <%= raw(deck) %></li>
            <% end %>
            <li onclick="moveCard('table', '<%=card_id%>')"> Place on table </li>
          </ul>
        </li>
        <li onclick="flipCard('user<%= card_id %>','<%= count %>')">Flip Card</li>
      </ul>
      <% count = count + 1 %>
    <% end %>
  </ul>
</div>

<div class = "leave_buttons">
  <% if 1 == Cardgame.user_ids(@current_user.select(:current_game).first.attributes.values[1]).size %>
    <%= button_to  'Leave Game', game_session_path, method: :delete, :class => 'btn btn-warning', :id => "end_game_button"%>
  <% else %>
    <button type="button" class="btn btn-warning" onclick="leaveGame()">Leave Game</button>
  <% end %>
</div>
<div class = "end_buttons">
  <%= button_to  raw('&#10005;')+' End Game', game_session_path, method: :delete, :class => 'btn btn-danger', :id => "end_game_button"%>
</div>