<script type="text/javascript">

    var started = <%= Cardgame.where(game_id: request.original_url.split(//).last(4).join.to_i).pluck(:started)[0] %>
    if (!started) {
        document.getElementById("end_game_button").click();
    }

    function moveCard(destination, card){
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=moveCard&dest='+destination+'&card='+card,
            type: 'PUT',
            id: '#update',
            success: function() {
            },
            complete: function() {
            }
        });
    }

    function moveCardDraw(destination,  source){
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=moveCardDraw&dest='+destination+'&source='+source,
            type: 'PUT',
            id: '#update',
            success: function() {
            },
            complete: function() {
            }
        });
    }

    function moveCardTable(destination, card){
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=moveCardTable&dest='+destination+'&card='+card,
            type: 'PUT',
            id: '#update',
            success: function() {
            },
            complete: function() {
            }
        });
    }

    function shuffle(deck) {
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=shuffle&deck='+deck,
            type: 'PUT',
            id: '#update',
            success: function() {
            },
            complete: function() {
            }
        });
    }

    function leaveGame(){
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=leaveGame',
            type: 'PUT',
            id: '#update',
            complete: function() {}
        });
    }

    function resetGame(){
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=resetGame',
            type: 'PUT',
            id: '#update',
            complete: function() {}
        });
    }

    function showAll(){
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=showAll',
            type: 'PUT',
            id: '#update',
            complete: function() {}
        });
    }

    function hideAll(){
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=hideAll',
            type: 'PUT',
            id: '#update',
            complete: function() {}
        });
    }

    function flipCard(card,user) {
        $.ajax({
            url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %> + '.function=flipCard&id='+card+'&index='+user,
            type: 'PUT',
            id: '#update',
            complete: function() {
            }
        });
    }

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev, data) {
        ev.dataTransfer.setData("text", data);
    }

    function drop(ev, dest) {
        ev.preventDefault();
        var source_data = ev.dataTransfer.getData("text").split('&');
        // Dest: dest=...&dest_data=...
        var dest_data = dest.split('&');

        // User: source=...&username=...&card_id=...
        var source = source_data[0].replace(/.+=/i, '')
        if (source === "user") {
            if (dest_data[0].replace(/.+=/i, '') === 'table') {
                moveCard('table', source_data[2].replace(/.+=/i, ''))

            } else if (dest_data[0].replace(/.+=/i, '') === 'sink') {
                moveCard(dest_data[1].replace(/.+=/i, ''), source_data[2].replace(/.+=/i, ''))

            } else if (dest_data[0].replace(/.+=/i, '') === 'other_user') {
                moveCard(dest_data[1].replace(/.+=/i, ''), source_data[2].replace(/.+=/i, ''))
            }

        } else if (source === 'table') {
            if (dest_data[0].replace(/.+=/i, '') === 'user') {
                moveCardTable(dest_data[1].replace(/.+=/i, ''), source_data[1].replace(/.+=/i, ''))

            } else if (dest_data[0].replace(/.+=/i, '') === 'sink') {
                moveCardTable(dest_data[1].replace(/.+=/i, ''), source_data[1].replace(/.+=/i, ''))
            }
        }
    }

</script>


<div class="container">
  <h3 style="position: fixed; left: 5%; top: 30%; margin: 0 auto;"> Players </h3>
  <div style="position: fixed; left: 0%; top: 35%; margin: 0 auto;" , id="other_user_hands">
    <% @user_cards_hash.each do |key, value| %>
      <% drop_info = "dest=other_user&username=#{value[:username]}" %>
      <% if key != @current_user.select(:id).first.attributes.values[0] %>
        <ul ondrop="drop(event, '<%= drop_info %>')" ondragover="allowDrop(event)" class="cards">
          <li class="username"><%= value[:username] %></li>
          <% value[:cards].each do |card_id, unicode| %>
            <% if unicode[0] == "R" %>
              <li class="other_users_card_red"><%= raw(unicode.gsub("R", "")) %></li>
            <% elsif unicode[0] == "B" %>
              <li class="other_users_card_black"><%= raw(unicode.gsub("B", "")) %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <h3 style="position: absolute; right: 8%; top: 150px; transform: translate(-50%, -50%); margin: 0 auto; z-index: 1"> Draw Pile </h3>
  <div style="position: absolute; right: 1%; top: 230px; transform: translate(-50%, -50%); margin: 0 auto; z-index: 1"  id="decks">
    <ul class="cards">
      <% @deckHashes.each do |hash| %>
        <div style="width: 33%; float: left">
        <% if hash.size <= 0 %>
            <li id="<%= hash[:id] %>" class="empty_sink">&#127137</li>
        <% else %>
          <% if hash.values.last[0] == "R" %>
              <li><%= hash[:id] %></li>
              <li id="<%= hash[:id] %>" onclick="toggleCardDropdown('draw_<%= hash[:id] %>')" class="user_card_red"><%= raw(hash.values.last.gsub("R", "")) %></li>
          <% elsif hash.values.last[0] == "B" %>
              <li><%= hash[:id] %></li>
              <li id="<%= hash[:id] %>" onclick="toggleCardDropdown('draw_<%= hash[:id] %>')" class="user_card_black"><%= raw(hash.values.last.gsub("B", "")) %></li>
          <% end %>
            </div>
          <ul style="bottom: -100% " id="dropdown_draw_<%= hash[:id] %>" class="dropdown-content">
            <li class="dropdown-submenu">
              <a class="test" tabindex="-1" href="">&#x21e6; Move card: <span class="caret"></span></a>
              <ul style="bottom: 10%; left: -150% ; overflow-y: auto; height: 330%;" class="dropdown-content">
                <li onclick="moveCardDraw('<%= @current_user.pluck(:username)[0]%>', <%=hash[:id]%>)">
                  <%=raw(@current_user.pluck(:username)[0]) %>
                </li>
                <% @sinks.each do |sink|%>
                  <li onclick="moveCardDraw('<%= 'sink_' + raw(sink)%>', '<%=hash[:id]%>')"> <%= 'Sink '+raw(sink) %></li>
                <% end %>
                <li onclick="moveCardDraw('table', '<%=hash[:id]%>')"> Place on table</li>
              </ul>
            </li>
            <li onclick="shuffle('<%= hash[:id] %>')">&#x21ba; Shuffle</li>
            <li onclick="flipCard('draw<%= hash[:id] %>',false)">Flip Top Card</li>
          </ul>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <h3 style="position: absolute; right: 6%; top: 375px; transform: translate(-50%, -50%); margin: 0 auto;"> Discard Pile </h3>
  <div style="position: absolute; right: 1%; top: 450px; transform: translate(-50%, -50%); margin: 0 auto; z-index: 1"  id="sinks">
    <ul class="cards">
      <% @sinkHashes.each do |hash| %>
        <% drop_info = "dest=sink&sink_id=sink_#{hash[:id]}" %>
        <div ondrop="drop(event, '<%= drop_info %>')" ondragover="allowDrop(event)" style="width: 33%; float: left">
          <% if hash.size <= 0 %>
            <li class="empty_sink">&#127137</li>
          <% else %>
            <% if hash.values.last[0] == "R" %>
                <li><%= hash[:id] %></li>
                <li onclick="toggleCardDropdown('sink_<%= hash[:id] %>')" class="user_card_red"><%= raw(hash.values.last.gsub("R", "")) %></li>
            <% elsif hash.values.last[0] == "B" %>
                <li><%= hash[:id] %></li>
                <li onclick="toggleCardDropdown('sink_<%= hash[:id] %>')" class="user_card_black"><%= raw(hash.values.last.gsub("B", "")) %></li>
            <% end %>
          </div>
          <ul style="bottom: -100%" id="dropdown_sink_<%= hash[:id] %>" class="dropdown-content">
            <li class="dropdown-submenu">
              <a class="test" tabindex="-1" href="">&#x21e6; Move card: <span class="caret"></span></a>
              <ul style="bottom: 10%; left: -150%; overflow-y: auto; height: 330%;" class="dropdown-content">
                <li onclick="moveCardDraw('<%= @current_user.pluck(:username)[0]%>', '<%=hash[:id]%>')">
                  <%= raw(@current_user.pluck(:username)[0]) %>
                </li>
                <% @sinks.each do |sink|%>
                  <% if hash[:id] != sink %>
                    <li onclick="moveCardDraw('<%= 'sink_' + raw(sink)%>', '<%=hash[:id]%>')"> <%= 'Sink '+raw(sink) %></li>
                  <% end %>
                <% end %>
                <li onclick="moveCardDraw('table', '<%=hash[:id]%>')"> Place on table </li>
              </ul>
            </li>
            <li onclick="flipCard('sink<%= hash[:id] %>', false)">Flip Top Card</li>
          </ul>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="oval" style="position: fixed; left: 50%; top: 45%; transform: translate(-50%, -50%); margin: 0 auto;">

</div>


<div class="container">
  <div style="position: absolute; left: 50%; top: 45%; transform: translate(-50%, -50%); margin: 0 auto; display: inline;" id="table">
    <% drop_info = "dest=table" %>
    <ul ondrop="drop(event, '<%= drop_info %>')" ondragover="allowDrop(event)" class="cards">
      <% @table.each do |card_id, unicode|%>
        <% drag_info = "source=table&card_id=#{card_id}" %>
        <% if unicode[0] == "R" %>
          <li draggable="true" ondragstart="drag(event, '<%= drag_info %>')" onclick="toggleCardDropdown('table_<%= card_id %>')" class="user_card_red"><%= raw(unicode.gsub("R", "")) %></li>
        <% elsif unicode[0] == "B" %>
          <li draggable="true" ondragstart="drag(event, '<%= drag_info %>')" onclick="toggleCardDropdown('table_<%= card_id %>')" class="user_card_black"><%= raw(unicode.gsub("B", "")) %></li>
        <% end %>
        <ul style="bottom: 100%" id="dropdown_table_<%= card_id %>" class="dropdown-content">
          <li class="dropdown-submenu">
            <a class="test" tabindex="-1" href="">&#x21e6; Move card: <span class="caret"></span></a>
            <ul style="bottom: 10%; left: 100%; overflow-y: auto; height: 230%;" class="dropdown-content">
              <li onclick="moveCardTable('<%= raw(@current_user.pluck(:username)[0]) %>','<%= card_id %>')"><%= raw(@current_user.pluck(:username)[0]) %></li>
              <% @sinks.each do |sink|%>
                <li onclick="moveCardTable('sink_<%= sink %>','<%= card_id %>')"> <%= 'Sink '+raw(sink) %></li>
              <% end %>
              <li onclick=""> Place on table </li>
            </ul>
          </li>
          <li onclick="flipCard('table<%= card_id %>', false)">Flip Card</li>
        </ul>
      <% end %>
    </ul>
  </div>
</div>




<div style="position: absolute; left: 50%; bottom: 5%; transform: translate(-50%, -50%); margin: 0 auto;" , id="testing_div">
  <% drop_info = "dest=user&username=#{@current_user.pluck(:username)[0]}" %>
  <ul ondrop="drop(event, '<%= drop_info %>')" ondragover="allowDrop(event)" class="cards">
    <% count = 0 %>
    <% @user_hand_card_values.each do |card_id,unicode| %>
      <% drag_info = "source=user&username=#{@current_user.select(:id).first.attributes.values[0]}&card_id=#{card_id}" %>
      <% if unicode[0] == "F" %>
        <% if unicode[1] == "R" %>
          <li draggable="true" ondragstart="drag(event, '<%= drag_info %>')" onclick="toggleCardDropdown('<%=card_id%>')" class="user_card_red_shown" id = "user_<%=card_id%>"><%= raw(unicode.gsub("FR", "")) %></li>
        <% elsif unicode[1] == "B" %>
          <li draggable="true" ondragstart="drag(event, '<%= drag_info %>')" onclick="toggleCardDropdown('<%=card_id%>')" class="user_card_black_shown" id = "user_<%=card_id%>"><%= raw(unicode.gsub("FB", "")) %></li>
        <% end %>
      <% else %>
        <% if unicode[0] == "R" %>
          <li draggable="true" ondragstart="drag(event, '<%= drag_info %>')" onclick="toggleCardDropdown('<%=card_id%>')" class="user_card_red" id = "user_<%=card_id%>"><%= raw(unicode.gsub("R", "")) %></li>
        <% elsif unicode[0] == "B" %>
          <li draggable="true" ondragstart="drag(event, '<%= drag_info %>')" onclick="toggleCardDropdown('<%=card_id%>')" class="user_card_black" id = "user_<%=card_id%>"><%= raw(unicode.gsub("B", "")) %></li>
        <% end %>
      <% end %>
      <ul style="bottom: 100%" id="dropdown_<%=card_id%>" class="dropdown-content">
        <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="">&#x21e6; Move card: <span class="caret"></span></a>
          <ul style="bottom: 10%; left: 100%; overflow-y: auto; height: 600%;" class="dropdown-content">
            <% @user_cards_hash.each do |id, nameHash| %>
              <li onclick="moveCard('<%=raw(nameHash[:username])%>', '<%=card_id%>')"> <%=nameHash[:username]%> </li>
            <% end %>
            <% @sinks.each do |sink|%>
              <li onclick="moveCard('<%= 'sink_' + raw(sink)%>', '<%=card_id%>')"> <%='Sink ' + raw(sink) %></li>
            <% end %>
            <% @decks.each do |deck| %>
              <li> <%= 'Deck '+ raw(deck) %></li>
            <% end %>
            <li onclick="moveCard('table', '<%=card_id%>')"> Place on table </li>
          </ul>
        </li>
        <li onclick="flipCard('user<%= card_id %>','<%= count %>')">Flip Card</li>
      </ul>
      <% count = count + 1 %>
    <% end %>
  </ul>
</div>

<div class = "show_all_buttons">
  <button type="button" class="btn btn-outline-success" onclick="showAll()">Show All Cards</button>
</div>

<div class = "hide_all_buttons">
  <button type="button" class="btn btn-outline-danger" onclick="hideAll()">Hide All Cards</button>
</div>

<div class = "reset_buttons">
  <button type="button" class="btn btn-secondary" onclick="resetGame()">&#x21ba; Reset Game</button>
</div>

<div class = "contain" id = "tablec">
  <table class="table" id = "counttable">
    <thead>
    <tr>
      <th scope="col">Deck ID</th>
      <th scope="col">Size</th>
    </tr>
    </thead>
    <tbody>
      <% @deck_sizes.each do |card_id,unicode| %>
      <tr>
        <th scope="row"><%= card_id%></th>
        <td><%= unicode%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <table class="table" id = "counttable">
    <thead>
    <tr>
      <th scope="col">Sink ID</th>
      <th scope="col">Size</th>
    </tr>
    </thead>
    <tbody>
      <% @sink_sizes.each do |card_id,unicode| %>
      <tr>
        <th scope="row"><%= card_id%></th>
        <td><%= unicode%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class = "leave_buttons">
  <% if 1 == Cardgame.user_ids(@current_user.select(:current_game).first.attributes.values[1]).size %>
    <%= button_to  raw('&#x2190;')+' Leave Game', game_session_path, method: :delete, :class => 'btn btn-warning', :id => "end_game_button"%>
  <% else %>
    <button type="button" class="btn btn-warning" onclick="leaveGame()">&#x2190; Leave Game</button>
  <% end %>
</div>
<div class = "end_buttons">
  <%= button_to  raw('&#10005;')+' End Game', game_session_path, method: :delete, :class => 'btn btn-danger', :id => "end_game_button"%>
</div>