<div class="container">
  <h3 style="position: fixed; left: 11%; top: 175px; transform: translate(-50%, -50%); margin: 0 auto;"> Players </h3>
  <div style="position: fixed; left: 10%; top: 300px; transform: translate(-50%, -50%); margin: 0 auto;" , id="other_user_hands">
    <% @user_cards_hash.each do |key, value| %>
      <% if key != @current_user.select(:id).first.attributes.values[0] %>
        <ul class="cards">
          <li class="username"><%= value[:username] %></li>
          <% value[:cards].each do |card| %>
            <% if card[0] == "R" %>
              <li class="other_users_card_red"><%= raw(card.gsub("R", "")) %></li>
            <% elsif card[0] == "B" %>
              <li class="other_users_card_black"><%= raw(card.gsub("B", "")) %></li>
            <% end %>
          <% end %>
        </ul>
        <br>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <h3 style="position: fixed; right: 8%; top: 150px; transform: translate(-50%, -50%); margin: 0 auto;"> Draw Pile </h3>
  <div style="position: fixed; right: 10%; top: 200px; transform: translate(-50%, -50%); margin: 0 auto; font-size: 60px;" , id="decks">
    <ul class="cards">
      <li> &#127136 </li>
    </ul>
  </div>
</div>

<div class="container">
  <h3 style="position: fixed; right: 7%; top: 375px; transform: translate(-50%, -50%); margin: 0 auto;"> Discard Pile </h3>
  <div style="position: fixed; right: 10%; top: 450px; transform: translate(-50%, -50%); margin: 0 auto;" , id="sinks">
    <ul class="cards">
      <li class="empty_sink"> &#127136 </li>
    </ul>
  </div>
</div>

<div class="container">
  <div style="position: fixed; left: 50%; top: 45%; transform: translate(-50%, -50%); margin: 0 auto;" , id="table">
  </div>
</div>



<div style="position: fixed; left: 50%; bottom: 30px; transform: translate(-50%, -50%); margin: 0 auto;" , id="testing_div">
  <ul>
    <% @user_hand_card_values.each do |card| %>
      <% if card[0] == "R" %>
        <li class="user_card_red"><%= raw(card.gsub("R", "")) %></li>
      <% elsif card[0] == "B" %>
        <li onclick="toggleCardDropdown()" class="user_card_black"><%= raw(card.gsub("B", "")) %></li>
      <% end %>
      <ul style="bottom: 100%" id="myDropdown" class="dropdown-content">
        <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Move card: <span class="caret"></span></a>
          <ul style="bottom: 10%; left: 100%" class="dropdown-content">
            <% @user_cards_hash.each do |id, nameHash| %>
            <li> <%= nameHash[:username] %> </li>
            <% end %>
            <% @sinks.each do |sink|%>
            <li> <%= raw(sink) %></li>
            <% end %>
            <% @decks.each do |deck| %>
            <li> <%= raw(deck) %></li>
            <% end %>
            <li> Place on table </li>
          </ul>
        </li>
        <li>Link 2</li>
        <li>Link 3</li>
      </ul>
    <% end %>
  </ul>
</div>

<div class = "game_buttons">
  <%= button_to  'End Game', game_session_path, method: :delete, :class => 'btn btn-danger', :id => "end_game_button"%>
</div>


<h4 id="end game">
<script type="text/javascript">
    (function end_game() {
            $.ajax({
                url: '/game_session/'+ <%= request.original_url.split(//).last(4).join.to_i %>,
                type: 'GET',
                complete: function() {
                    setTimeout(end_game, 5000);
                }
            });
    })();

</script>
</h4>



